<a href="https://colab.research.google.com/github/DaviFerreira0106/notebooks-inteligenciaArtificial/blob/main/Exercicios_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercício Pandas

## 1. Crie um DataFrame contendo as colunas Produto, Preço e Quantidade com 5 produtos.

In [1]:
import pandas as pd

dados = {'Produto': ['Teclado', 'Monitor', 'Gabinete', 'Cooler', 'Placa-Mãe'],
         'Preço': [21, 60, 220, 100, 500],
         'Quantidade': [1, 3, 2, 4, 3],
         }

df = pd.DataFrame(dados)
print(df)

     Produto  Preço  Quantidade
0    Teclado     21           1
1    Monitor     60           3
2   Gabinete    220           2
3     Cooler    100           4
4  Placa-Mãe    500           3

## 2. Leia um arquivo Excel chamado vendas.xlsx e exiba as 10 primeiras linhas

In [2]:
import pandas as pd

df = pd.read_excel('vendas.xlsx')
print(df.head(10))

FileNotFoundError: [Errno 2] No such file or directory: 'vendas.xlsx'

## 3. Filtre um DataFrame para exibir apenas os valores onde a coluna Preço é maior que 100

In [3]:
df_filtado = df[df['Preço'] > 100]
print(df_filtado)

     Produto  Preço  Quantidade
2   Gabinete    220           2
4  Placa-Mãe    500           3

## 4. Adicione uma coluna chamada Desconto ao DataFrame com 10% de desconto para todos os produtos

In [4]:
df['Desconto'] = df['Preço'] * 0.1
print(df)

     Produto  Preço  Quantidade  Desconto
0    Teclado     21           1       2.1
1    Monitor     60           3       6.0
2   Gabinete    220           2      22.0
3     Cooler    100           4      10.0
4  Placa-Mãe    500           3      50.0

## 5. Remova as linhas do DataFrame que contenham valores nulos

In [5]:
df = df.dropna()
print(df)

     Produto  Preço  Quantidade  Desconto
0    Teclado     21           1       2.1
1    Monitor     60           3       6.0
2   Gabinete    220           2      22.0
3     Cooler    100           4      10.0
4  Placa-Mãe    500           3      50.0

## 6. Ordene o DataFrame pela coluna Produto em ordem alfabética

In [8]:
df_ordenado = df.sort_values(by='Produto')
print(df_ordenado)

     Produto  Preço  Quantidade  Desconto
3     Cooler    100           4      10.0
2   Gabinete    220           2      22.0
1    Monitor     60           3       6.0
4  Placa-Mãe    500           3      50.0
0    Teclado     21           1       2.1

## 7. Crie uma nova coluna chamada Total que seja o produto entre as colunas Preço e Quantidade

In [9]:
df['Total'] = df['Preço'] * df['Quantidade']
print(df)

     Produto  Preço  Quantidade  Desconto  Total
0    Teclado     21           1       2.1     21
1    Monitor     60           3       6.0    180
2   Gabinete    220           2      22.0    440
3     Cooler    100           4      10.0    400
4  Placa-Mãe    500           3      50.0   1500

## 8. Agrupe o DataFrame pela coluna Categoria e calcule o total de produtos por categoria

In [11]:
df['Categoria'] = ['Perifericos-externos', 'Perifericos-externos', 'Perifericos-externos', 'Perifericos-internos', 'Perifericos-internos']

total_produtos = df.groupby('Categoria')['Quantidade'].sum()
print(total_produtos)

Categoria
Perifericos-externos    6
Perifericos-internos    7
Name: Quantidade, dtype: int64

## 9. Exporte o DataFrame resultante para um arquivo CSV chamado resultados.csv

In [12]:
df.to_csv('resultados.csv', index=False)

## 10. Leia um arquivo CSV, renomeie as colunas e exiba as 5 últimas linhas do DataFrame

In [15]:
df = pd.read_csv('resultados.csv')
df = df.rename(columns={'Preço': 'Preco2', 'Quantidade': 'Quantidade2', 'Produto': 'Produto2', 'Desconto': 'Desconto2', 'Total': 'Total2', 'Categoria': 'Categoria2'})
print(df.tail(5))

    Produto2  Preco2  Quantidade2  Desconto2  Total2            Categoria2
0    Teclado      21            1        2.1      21  Perifericos-externos
1    Monitor      60            3        6.0     180  Perifericos-externos
2   Gabinete     220            2       22.0     440  Perifericos-externos
3     Cooler     100            4       10.0     400  Perifericos-internos
4  Placa-Mãe     500            3       50.0    1500  Perifericos-internos

## 11. Preencha os valores nulos de uma coluna numérica com a mediana dessa coluna

In [16]:
df['Quantidade2'] = df['Quantidade2'].fillna(df['Quantidade2'].median())
print(df)

    Produto2  Preco2  Quantidade2  Desconto2  Total2            Categoria2
0    Teclado      21            1        2.1      21  Perifericos-externos
1    Monitor      60            3        6.0     180  Perifericos-externos
2   Gabinete     220            2       22.0     440  Perifericos-externos
3     Cooler     100            4       10.0     400  Perifericos-internos
4  Placa-Mãe     500            3       50.0    1500  Perifericos-internos

## 12. Verifique quais colunas de um DataFrame contêm valores duplicados

In [24]:
df_duplicado_quant = df[df['Quantidade2'].duplicated()]
df_duplicado_preco = df[df['Preco2'].duplicated()]
df_duplicado_total = df[df['Total2'].duplicated()]
print(f'{df_duplicado_quant}')
print(f'{df_duplicado_preco}')
print(df_duplicado_total)

    Produto2  Preco2  Quantidade2  Desconto2  Total2            Categoria2
4  Placa-Mãe     500            3       50.0    1500  Perifericos-internos
Empty DataFrame
Columns: [Produto2, Preco2, Quantidade2, Desconto2, Total2, Categoria2]
Index: []
Empty DataFrame
Columns: [Produto2, Preco2, Quantidade2, Desconto2, Total2, Categoria2]
Index: []

## 13. Crie uma tabela dinâmica a partir do DataFrame, calculando a soma de Quantidade por Categoria

In [25]:
pivot_table = pd.pivot_table(df, values='Quantidade2', index='Categoria2', aggfunc='sum')
print(pivot_table)

                      Quantidade2
Categoria2
Perifericos-externos            6
Perifericos-internos            7

## 14. Mescle dois DataFrames baseados em uma coluna comum chamada ID utilizando um join

In [28]:
import pandas as pd

dados = {'ID': 1,
        'Produto': ['Teclado', 'Monitor', 'Gabinete', 'Cooler', 'Placa-Mãe'],
         'Preço': [21, 60, 220, 100, 500],
         'Quantidade': [1, 3, 2, 4, 3],
         }

dados2 = {'ID': 2,
        'Produto': ['Teclado2', 'Monitor2', 'Gabinete2', 'Cooler2', 'Placa-Mãe2'],
         'Preço': [21, 60, 220, 100, 500],
         'Quantidade': [1, 3, 2, 4, 3],
         }

df1 = pd.DataFrame(dados)
df2 = pd.DataFrame(dados2)

df_mesclado = pd.merge(df1, df2, on='ID')
print(df_mesclado)

Empty DataFrame
Columns: [ID, Produto_x, Preço_x, Quantidade_x, Produto_y, Preço_y, Quantidade_y]
Index: []